<% provide(:title, "Admin Sign in") %>
<div class="fixedLogin">
    <h1 class="center">Admin</h1>
    <div class="loginForm">
      <%= form_for @siteadmin, :as => :siteadmin, :url => sign_in_path(@siteadmin) do |f| %>

      <%= f.label :username %>
      <%= f.text_field :username %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.submit "Sign in", class: "btn btn-large btn-primary" %>
    <% end %>
   </div>
</div>
