<% provide(:title, 'New Item') %>
<div class="fixedWidth">
<h2 class="center">Add To Menu</h1>

<div class="center">
<%= form_for(@food) do |f| %>
      <p>
      <%= f.label :name %>
      <%= f.text_field :name %>
      </p>

<p>
      <%= f.label :desc %>
      <%= f.text_field :desc %>
 </p>
<p>
      <%= f.label :genre %>
      <%= f.text_field :genre %>
 </p>
<p>
      <%= f.label :price %>
      <%= f.text_field :price %>
 </p>
      <%= f.submit "Add", class: "btn btn-large btn-primary" %>
    <% end %>
</div>
</div>
